extends layout

block content
	h1 Login
	p Please login bellow
	form(method='get',action='/users/facebook')
		.form-group
			label Username
			input.form-control(name='username',type='text')
		.form-group
			label Password
			input.form-control(name='password',type='password')
		input.btn.btn-default(name='submit',type='submit',value='Login')
		a.btn.btn-primary(href="/users/facebook") Login with Facebook